.admin-container {
    margin: 100px auto;
    padding: 20px;
    max-width: 600px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.admin-head {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

.admin-container input {
    width: 90%;
    padding: 10px;
    margin-bottom: 12px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.btn-admin {
    width: 25%;
    padding: 12px ;
    margin: 10px 1%;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    background-color: green;
    transition: background-color 0.3s ease;
}

.btn-admin:hover {
    background-color: rgb(7, 95, 7);
}


.close{
    border: none;
    border-radius: 5px;
    position: absolute;
    left: 570px;
    top: 21px;
    padding: 10px;
    background-color: transparent;
}
.close:hover{
    background-color: red;
}
@media (max-width: 768px) {
    .admin-container {
      width: 90%;
      margin: 50px auto;
      padding: 15px;
      margin-top: 190px;
    }
  
    .admin-head {
      font-size: 20px;
    }
  
    .admin-container input {
      width: 100%;
      padding: 8px;
      font-size: 14px;
      margin-left: 0;
    }
  
    .btn-admin {
      width: 50%;
      font-size: 14px;
      padding: 10px;
    }
  
    .close {
      top: 10px;
      left: 90%;
      transform: translateX(-50%);
    }
  }
  
  @media (max-width: 480px) {
    .admin-container {
      width: 85%;
      padding: 10px;
      margin-top: 200px;
      max-width: 400px;
    }
  
    .admin-head {
      font-size: 18px;
    }
  
    .admin-container input {
      font-size: 12px;
      padding: 8px auto;
      width: 95%;
    }
  
    .btn-admin {
      width: 100%;
      font-size: 14px;
      padding: 10px;
    }
  
    .close {
      top: 5px;
      left: 90%;
      transform: translateX(-50%);
    }
  }
  